{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <h1>Group index</h1>

    <table class="table sortable_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.roles ? group.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('bisonlab_group_show', {'id': group.id}) }}">show</a>
                    <a href="{{ path('bisonlab_group_edit', {'id': group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bisonlab_group_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
