{% extends 'base.html.twig' %}

{% block title %}{{ group }}{% endblock %}

{% block body %}
    <h1>{{ group }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ group.name }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ group.roles ? group.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bisonlab_group_index') }}" class="btn btn-light">Back to list</a><br>

    <a href="{{ path('bisonlab_group_edit', {'id': group.id}) }}" class="btn btn-primary">edit</a>

    {{ include('@BisonLabUser/group/_delete_form.html.twig') }}
{% endblock %}
