{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table sortable_table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Roles</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('bisonlab_user_show', {'id': user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user }}</td>
                <td>{{ user.email }}</td>
                <td>{% if  user.enabled %}Yes{%else%}No{%endif%}</td>
                <td>{{ user.rolelabels | join(", ") }}</td>
                <td>
                    <a href="{{ path('bisonlab_user_show', {'id': user.id}) }}">Show</a>
                    <a href="{{ path('bisonlab_user_edit', {'id': user.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bisonlab_user_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
