{% extends 'base.html.twig' %}

{% block title %}{{ user }}{% endblock %}

{% block body %}
    <h1>{{ user }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.rolelabels | join(", ")}}</td>
            </tr>
{% if user.groups | length > 0 %}
            <tr>
                <th>Gropus</th>
                <td>{{ user.groups | join(", ")}}</td>
            </tr>
{% endif %}
        </tbody>
    </table>

    <a href="{{ path('bisonlab_user_index') }}" class="btn btn-light">Back to list</a></br>

    <a href="{{ path('bisonlab_user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>

    {{ include('@BisonLabUser/user/_delete_form.html.twig') }}

    <a href="{{ path('bisonlab_user_change_password', {'id': user.id}) }}" class="btn btn-primary">Change Password</a>

    {{ form_start(reset_form, {'action': path('bisonlab_reset_user_password', {'user': user.id }), 'method': 'POST'}) }}

        {{ form_widget(reset_form.email, { 'value': user.email , 'attr': {'class': 'd-none'}}) }}
        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(reset_form) }}
{% endblock %}
